<div style="font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
  font-size: 16px;
  line-height: 1.6;
  max-width: 600px;
  height: 100%;
  background-image: linear-gradient(to right bottom,
  rgba(79, 216, 216, 0.507),
   rgba(140, 65, 38, 0.507)),
   url('https://i.pinimg.com/originals/e9/3c/19/e93c1996c13372824d778b8e99b013b7.png');
  background-size: cover;
  background-position: top;
  position: relative;
  text-shadow: 2px 2px 4px #000000;">

  <div style="color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translate(-50%);">
    <div style="display: block;
      letter-spacing: 20px;
      font-size: 3em;">
      fastfeet
    </div>
    <div style="display: block;
      letter-spacing: 8px;
      font-size: 1.2em;">
      The Fastest Delivery
    </div>
  </div>
  <div style="
      position: absolute;
      top: 25%;
      margin-left: 10px;
      color: #fff;
    ">
    {{{ body }}}
    {{> footer }}
  </div>
</div>
