<strong>Hello, {{ deliveryman }}</strong>

<p>This package has been canceled:</p>
  <strong>Product Name: </strong> {{ product }} <br>
  <strong>Recipient Name: </strong> {{ recipientName }} <br>
  <strong>Recipient Street: </strong> {{ recipientStreet }} <br>
  <strong>Recipient Number: </strong> {{ recipientNumber }} <br>
  <strong>Recipient City: </strong> {{ recipientCity }} <br>
  <strong>Recipient State: </strong> {{ recipientState }} <br>
  <br>
  <small>Please, pick a new one!</small>
</p>
