<strong>Hello, {{ deliveryman }}</strong>

<p>There is a new packet available to delivery!</p>
  <strong>Product Name: </strong> {{ product }} <br>
  <strong>Recipient Name: </strong> {{ recipientName }} <br>
  <strong>Recipient Street: </strong> {{ recipientStreet }} <br>
  <strong>Recipient Number: </strong> {{ recipientNumber }} <br>
  <strong>Recipient City: </strong> {{ recipientCity }} <br>
  <strong>Recipient State: </strong> {{ recipientState }} <br>
  <br>
  <small>Package picking up is only available between 08:00 to 18:00!</small>
</p>
